<ion-header no-bounce>
  <expandable-header [scrollArea]="mycontent" headerHeight="370">
          
    <button ion-button class="btn" (click)="addUser()">
			<ion-icon name="md-contacts" style="font-size:220%"></ion-icon>
		</button>
		
		<button ion-button class="btn" style="right:0; position:absolute;" (click)="addProduct()">
			<ion-icon name="ios-nutrition" style="font-size:220%"></ion-icon>
		</button>
      
	  <ion-toolbar no-padding style="position:absolute; bottom:0;">
       <div *ngIf="products.length > 0">
          <ion-scroll scrollX="true" style="height: 60px;" >    
        		<ion-list no-padding no-margin [id]="1" [dragula]='"my-bag"' [dragulaModel]="products">
            	<button outline ion-button [value]="item.id" *ngFor="let item of products" detail-none class="customProductButton">
								<div (click)="editProduct(item.id)">
                	<ion-icon [name]="item.icon" style="font-size: 220%; color:brown;">
										<div style="font-size: 40%; vertical-align: middle; display:inline">x{{item.quantity}}</div>
									</ion-icon> 
										<div style="font-size: 50%;">
											<label style="padding:0; margin: 0; color:black;">{{item.name}} ${{item.price}}</label>
									  </div>
                </div>
               </button>
            </ion-list>
           </ion-scroll>      
       </div>
        
       <div *ngIf="products.length <= 0">
        <ion-list [id]="1" [dragula]='"my-bag"' [dragulaModel]="products" style="margin: 0%;">
          <div class="title">Space for your products.</div>
        </ion-list>
       </div>
    </ion-toolbar> 
  </expandable-header>
</ion-header>


<ion-content no-bounce fullscreen #mycontent>
	<ion-list>
  <ion-item *ngFor="let u of users">
      <ion-avatar item-start (click)="editUser(u.id)">
        
      </ion-avatar>
    <h2>{{u.name}}</h2>
    <ion-note item-end>${{u.hasGiven}}</ion-note>
			<p *ngIf="u.products.length <= 0">
        <ion-list [id]="2" [dragula]='"my-bag"' [dragulaModel]="u.products">
           Nothing yet...
        </ion-list>
       </p>		
		
		
		<div *ngIf="u.products.length > 0">
      	<ion-list class="sec-list" [id]="2" [dragula]='"my-bag"' [dragulaModel]="u.products">
        	<button class="sec-item" [value]="item.id" *ngFor="let item of u.products">
            <div class="item-products">{{item.name}} ${{item.price}}</div>
          </button>
				</ion-list>
			</div>

  </ion-item>
</ion-list>
  
    
  <ion-list>
    <ion-item *ngFor="let m of messages">{{m}}</ion-item>
  </ion-list>
  	<button full ion-button style="background-color:#4C0B37" (click)="calculate()">CALCULATE</button>
</ion-content>