page-home {
  ion-item {
         width: 92%;
         margin: 1px;
         padding-left:1px;
         margin-bottom: 1px;
         background-color: #fff;
         opacity: 1;
         font-size: 0.9em;
         transition: 0.2s linear;
     }
	.btn {
 
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: none;
  background:transparent;
  color:#2f5152;
  top:5%;
		box-shadow: 1px 1px 1px 0px;
  
}



ion-scroll{
  overflow: scroll; 
  white-space: nowrap;
}

.customProductButton {
	border-color: black; 
	border: none; 
	padding: 0%; 
	display: inline-block; 
	width: 80px; 
	height:50px;
}
	
	.title{
		padding-left: 15px;
		align-items: flex-end;
		opacity: 0.6;
	}
	.item-products{
		// font-size: 45%;
	}
	.sec-list .input-wrapper{
		height: 15px !important;
		width: auto;
		padding:0px 0px 0px 0px !important;
		margin:0px 0px 0px 0px !important;		
	}
		.sec-item {
		height: 15px !important;
		width: auto;
		padding:0px 0px 0px 0px !important;
		margin:0px 0px 0px 0px !important;
			background-color: transparent;
			display:grid;
	}

}