<ion-header>
  
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="arrow-dropleft-circle"></ion-icon>
      </button>
    </ion-buttons>  

    <ion-title>Add new Product</ion-title>

  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="productForm" (ngSubmit)="addProduct(productForm.value)">  
    
    <ion-fab center middle #fab style="position:absolute; top:30%;">
      <div ion-fab color="danger"><ion-icon id="id" [name]="productForm.controls['icon'].value"></ion-icon></div>
      <ion-fab-list side="top">
        <div ion-fab color="primary" (click)="setMyIcon('beer', fab)"><ion-icon name="beer"></ion-icon></div>
      </ion-fab-list>
      <ion-fab-list side="bottom">
        <div ion-fab color="secondary" (click)="setMyIcon('car', fab)"><ion-icon name="car"></ion-icon></div>
      </ion-fab-list>
      <ion-fab-list side="left">
        <div ion-fab color="light" (click)="setMyIcon('basketball', fab)"><ion-icon name="basketball"></ion-icon></div>
      </ion-fab-list>
      <ion-fab-list side="right">
        <div ion-fab color="dark" (click)="setMyIcon('pizza', fab)"><ion-icon name="pizza"></ion-icon></div>
      </ion-fab-list>
      <input type="hidden" name="icon" formControlName="icon"/>
    </ion-fab>
  
    <ion-list style="position:absolute; top:50%;">
      <ion-item>
        <ion-label for="name" color="primary">Name</ion-label>
        <ion-input type="text" name="name" formControlName="name"></ion-input>
      </ion-item>
      <div class="alert" *ngIf="isFieldValid('name')">Name is required.</div>
      
      <ion-item>
        <ion-label color="primary">Price</ion-label>
        <ion-input type="text" formControlName="price"></ion-input>
      </ion-item>
      <div class="alert" *ngIf="isFieldValid('price')">Price must be positive number.</div>
      
      <ion-item>
        <ion-label color="primary">Quantity</ion-label>
        <ion-input type="text" formControlName="quantity" value="1"></ion-input>
      </ion-item>
      <div class="alert" *ngIf="isFieldValid('quantity')">Quantity must be number greater than 0.</div>

    </ion-list>

    <button full ion-button color="secondary" [disabled]="!productForm.valid" style="position:absolute; top:90%;">{{ editMode ? 'Edit Product' : 'Add a Product' }}</button>
  </form>

</ion-content>
