<ion-header>  
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="arrow-dropleft-circle"></ion-icon>
      </button>
    </ion-buttons>
    
    <ion-title>Add new user</ion-title>

  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="userForm" (ngSubmit)="addUser(userForm.value)">
    <ion-list>
      <ion-item>
        <ion-label color="primary" stacked>Name</ion-label>
        <ion-input type="text" placeholder="{{ isFieldValid('name')? 'Name is required.' : '' }}" formControlName="name"></ion-input>
      </ion-item>
     
      
      <ion-item>
        <ion-label color="primary" stacked>Money spent</ion-label>
        <ion-input type="text" placeholder="{{ isFieldValid('hasGiven')? 'Invalid input.' : '' }}" formControlName="hasGiven"></ion-input>
      </ion-item>
      

    </ion-list>

    <button type="submit" full ion-button color="secondary" [disabled]="!userForm.valid">{{ editMode ? 'Edit Friend' : 'Add a Friend' }}</button>
  </form>
</ion-content>
